---
http_interactions:
- request:
    method: get
    uri: https://api.nhtsa.gov/recalls/recallsByVehicle?make=honda&model=accord&modelYear=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - f6ff2339-8d37-43be-bbc8-e6fc73eef80c
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Cn6CoHxZoAMF4ig=
      X-Amzn-Remapped-Date:
      - Mon, 24 Aug 2026 20:03:56 GMT
      X-Application-Context:
      - application:production
    body:
      encoding: UTF-8
      string: '{"Count":5,"Message":"Results returned successfully","results":[{"Manufacturer":"Honda
        (American Honda Motor Co.)","NHTSACampaignNumber":"20V771000","parkIt":false,"parkOutSide":false,"overTheAirUpdate":false,"ReportReceivedDate":"10/12/2020","Component":"ELECTRICAL
        SYSTEM:BODY CONTROL MODULE:SOFTWARE","Summary":"Honda (American Honda Motor
        Co.) is recalling certain 2018-2020 Accord Sedan, Accord Hybrid, and 2019-2020
        Insight vehicles.  A software error may cause intermittent or continuous disruptions
        in communication between the Body Control Module (BCM) and other components.  This
        may result in malfunctions of various systems such as the windshield wipers
        and defroster, rearview camera, exterior lights, audible warning of a stopped
        vehicle, and power window operation.  As such, these vehicles fail to comply
        with the requirements of Federal Motor Vehicle Safety Standard (FMVSS) number
        103, \"Windshield Defrosting and Defogging Systems\" and number 111, \"Rear
        Visibility\" as well as FMVSS numbers 104, 108, 114, 118, and 305.","Consequence":"Various
        system malfunctions such as inoperative windshield wipers, defroster, rearview
        camera, or exterior lighting can increase the risk of a crash.","Remedy":"Honda
        will notify owners, and dealers will update the BCM software, free of charge.  The
        recall is expected to begin February 22, 2021.  Owners may contact Honda customer
        service at 1-888-234-2138.  Honda''s number for this recall is X95.","Notes":"Owners
        may also contact the National Highway Traffic Safety Administration Vehicle
        Safety Hotline at 1-888-327-4236 (TTY 1-800-424-9153), or go to www.safercar.gov.","ModelYear":"2020","Make":"HONDA","Model":"ACCORD"},{"Manufacturer":"Honda
        (American Honda Motor Co.)","NHTSACampaignNumber":"21V215000","parkIt":false,"parkOutSide":false,"overTheAirUpdate":false,"ReportReceivedDate":"25/03/2021","Component":"FUEL
        SYSTEM, GASOLINE:DELIVERY:FUEL PUMP","Summary":"Honda (American Honda Motor
        Co.) is recalling certain 2019-2020 Acura MDX, MDX Sport Hybrid, RDX, TLX,
        Honda Accord, Civic Hatchback, Insight, 2019 Acura ILX, Honda Accord Hybrid,
        Civic Coupe, Civic Coupe [...]
