---
http_interactions:
- request:
    method: get
    uri: https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVinValues/9FBLSRB56KM123456?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Count":1,"Message":"Results returned successfully. NOTE: Any missing
        decoded values should be interpreted as NHTSA does not have data on the specific
        variable. Missing value should NOT be interpreted as an indication that a
        feature or technology is unavailable for a vehicle.","SearchCriteria":"VIN(s):
        9FBLSRB56KM123456","Results":[{"ABS":"","ActiveSafetySysNote":"","AdaptiveCruiseControl":"","AdaptiveDrivingBeam":"","AdaptiveHeadlights":"","AdditionalErrorText":"The
        Model Year decoded for this VIN may be incorrect. If you know the Model year,
        please enter it and decode again to get more accurate information.","AirBagLocCurtain":"","AirBagLocFront":"","AirBagLocKnee":"","AirBagLocSeatCushion":"","AirBagLocSide":"","AutoReverseSystem":"","AutomaticPedestrianAlertingSound":"","AxleConfiguration":"","Axles":"","BasePrice":"","BatteryA":"","BatteryA_to":"","BatteryCells":"","BatteryInfo":"","BatteryKWh":"","BatteryKWh_to":"","BatteryModules":"","BatteryPacks":"","BatteryType":"","BatteryV":"","BatteryV_to":"","BedLengthIN":"","BedType":"","BlindSpotIntervention":"","BlindSpotMon":"","BodyCabType":"","BodyClass":"","BrakeSystemDesc":"","BrakeSystemType":"","BusFloorConfigType":"","BusLength":"","BusType":"","CAN_AACN":"","CIB":"","CashForClunkers":"","ChargerLevel":"","ChargerPowerKW":"","CombinedBrakingSystem":"","CoolingType":"","CurbWeightLB":"","CustomMotorcycleType":"","DaytimeRunningLight":"","DestinationMarket":"","DisplacementCC":"","DisplacementCI":"","DisplacementL":"","Doors":"","DriveType":"","DriverAssist":"","DynamicBrakeSupport":"","EDR":"","ESC":"","EVDriveUnit":"","ElectrificationLevel":"","EngineConfiguration":"","EngineCycles":"","EngineCylinders":"","EngineHP":"","EngineHP_to":"","EngineKW":"","EngineManufacturer":"","EngineModel":"","EntertainmentSystem":"","ErrorCode":"1,7","ErrorText":"1
        - Check Digit (9th position) does not calculate properly; 7 - Manufacturer
        is not registered with NHTSA for sale or importation in the U.S. for use on
        U.S roads; Please contact the manufacturer directly for more information","ForwardCollisionWarning":"","FuelInjectionType":"","FuelTankMaterial":"","FuelTankType":"","FuelTypePrimary":"","FuelTypeSecondary":"","GCWR":"","GCWR_to":"","GVWR":"","GVWR_to":"","KeylessIgnition":"","LaneCenteringAssistance":"","LaneDepartureWarning":"","LaneKeepSystem":"","LowerBeamHeadlampLightSource":"","Make":"","MakeID":"","Manufacturer":"","ManufacturerId":"","Model":"","ModelID":"","ModelYear":"","MotorcycleChassisType":"","MotorcycleSuspensionType":"","NCSABodyType":"","NCSAMake":"","NCSAMapExcApprovedBy":"","NCSAMapExcApprovedOn":"","NCSAMappingException":"","NCSAModel":"","NCSANote":"","NonLandUse":"","Note":"","OtherBusInfo":"","OtherEngineInfo":"","OtherMotorcycleInfo":"","OtherRestraintSystemInfo":"","OtherTrailerInfo":"","ParkAssist":"","PedestrianAutomaticEmergencyBraking":"","PlantCity":"","PlantCompanyName":"","PlantCountry":"","PlantState":"","PossibleValues":"","Pretensioner":"","RearAutomaticEmergencyBraking":"","RearCrossTrafficAlert":"","RearVisibilitySystem":"","SAEAutomationLevel":"","SAEAutomationLevel_to":"","SeatBeltsAll":"","SeatRows":"","Seats":"","SemiautomaticHeadlampBeamSwitching":"","Series":"","Series2":"","SteeringLocation":"","SuggestedVIN":"","TPMS":"","TopSpeedMPH":"","TrackWidth":"","TractionControl":"","TrailerBodyType":"","TrailerLength":"","TrailerType":"","TransmissionSpeeds":"","TransmissionStyle":"","Trim":"","Trim2":"","Turbo":"","VIN":"9FBLSRB56KM123456","ValveTrainDesign":"","VehicleDescriptor":"9FBLSRB5*KM","VehicleType":"","WheelBaseLong":"","WheelBaseShort":"","WheelBaseType":"","WheelSizeFront":"","WheelSizeRear":"","WheelieMitigation":"","Wheels":"","Windows":""}]}'
  recorded_at: Mon, 24 Aug 2026 19:49:53 GMT
recorded_with: VCR 6.4.0
